body {
    background: url("https://iili.io/HG2MPpa.md.png");
    background-size: cover;
}

.text{
    color: lime;
    text-align: center
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 700px;
    height: 350px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.search-btn{
    border-color: lime;
    color: lime;
}

.nav-txt{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: lime;
}

.center {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-bg{
    background-color: black;
    width: 18rem;
}

.card-txt{
    color: lime;
}

.card-border{
    border-style: solid;
    border-color: lime;
    border-width: 4px;
}

.card-btn{
    color: lime;
    background-color: #631c6c
}

.delete-btn{
    background-color: red;
    color: black;
}

.ad-card{
    background-color: black;
    width: 30rem;
}

.update-redirect{
    background-color: #631c6c;
    color: lime;
}

.adPage-login{
    color: deeppink;
}

.nav-toggle{
    background-color: lime;
    border: 1px solid #454545;
    border-radius: .25rem;
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
    line-height: 1;
    transition: box-shadow .15s ease-in-out;
}

.img0{
    content: url("https://w0.peakpx.com/wallpaper/158/947/HD-wallpaper-planet-076d-alien-black-cosmos-dark-light-neon-planets-space-stars-violet-thumbnail.jpg");
}

.img1{
    content: url("https://w0.peakpx.com/wallpaper/352/20/HD-wallpaper-planet-089a-alien-black-cosmos-green-life-light-neon-space-stars-thumbnail.jpg");
}

.img2{
    content: url("https://w0.peakpx.com/wallpaper/538/645/HD-wallpaper-planet-124d-alien-black-cosmos-darkness-light-neon-space-ufo-violet-thumbnail.jpg");
}

.img3{
    content: url("https://w0.peakpx.com/wallpaper/455/92/HD-wallpaper-planet-078c-3d-design-alien-black-blue-dark-galaxy-light-neon-planet-space-thumbnail.jpg");
}

.img4{
    content: url("https://w0.peakpx.com/wallpaper/375/691/HD-wallpaper-planet-001b-3d-design-alien-black-dark-light-metal-neon-planet-red-stars-thumbnail.jpg");
}

.img5{
    content: url("https://w0.peakpx.com/wallpaper/876/853/HD-wallpaper-planet-101d-alien-black-cosmos-light-metal-neon-orange-space-thumbnail.jpg");
}

